<div class="loading" *ngIf="loading">
    <span class="spinner spinner-inverse">
        Loading...
    </span>
</div>

<div *ngIf="!loading" class="asdasd">

  <clr-datagrid [(clrDgSelected)]="selected">
    <clr-dg-column>Operation</clr-dg-column>
    <clr-dg-column>Change By</clr-dg-column>
    <clr-dg-column>Changed on</clr-dg-column>

    <clr-dg-row [clrDgSelectable]="selectable" *clrDgItems="let user of workflowHistory" [clrDgItem]="user">
      <clr-dg-cell>{{user.operation.name}}</clr-dg-cell>
      <clr-dg-cell>{{user.changedBy}}</clr-dg-cell>
      <clr-dg-cell>{{user.changedOn | date:'medium'}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{workflowHistory.length}} users</clr-dg-footer>
  </clr-datagrid>

</div>
